@model FBone.Models.NMode.NModeCondition

@{
    Layout = "_NModeLayout";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>Condition details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tagname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tagname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Operator)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Operator)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Value)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Value)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NModeRecord)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NModeRecord.TagnameNmode)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-controller="NModeRecords" asp-action="Index">Back to Record List</a> |
        <a asp-controller="NModeRecords" asp-action="Details" asp-route-id="@Model.NModeRecordId">Back to record</a>
    </div>
</body>
</html>
