@model IEnumerable<FBone.Database.Entities.tActCause>

@{
    ViewData["Title"] = "Index";
}

<h2>Frequent Act causes</h2>

<p>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-default">Back</a>
    <a asp-action="CreateCause" class="btn btn-primary">Create New</a>
</p>
<table class="table" id="table" role="banner" aria-describedby="cause">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name_RU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name_EN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name_KK)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name_RU)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name_EN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name_KK)
                    </td>
                    <td>
                        <a asp-action="EditCause" asp-route-id="@item.Id">Edit</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $("#table").DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]]
            });
        });
    </script>
}